body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 30px 20px;
    background-color: #d6eb1a;
    border-bottom: 2px solid #ddd;
}

header h1 {
    font-size: 3rem;
    margin: 0;
    color: #333;
    font-weight: bold;
}

header h3 {
    font-size: 1.5rem;
    margin-top: 10px;
    color: #666;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.column {
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.column img {
    width: 100%;
    height: auto;
    max-width: 300px;
}

.column p {
    font-size: 20px;                    /* Tamaño de la letra */
    font-family: Arial, sans-serif;     /* Familia de la fuente */
    color: #1773cf;
}

.column h2{
    font-size: 40px;
    font-weight: bold;
}
@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    .column {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .column {
        margin-bottom: 15px;
    }

    .column img {
        max-width: 100%;
    }

    header h1 {
        font-size: 2.5rem;
    }

    header h3 {
        font-size: 1.25rem;
    }
}
