body {
    background-color: beige;
}
h1 {
    color: chocolate;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}
h2 {
    color: rgb(190, 92, 92);
    text-align: center;
}
p {
    color: red;
    font-size: 24px;
    text-align: center;
}
.cursiva {
    color: rgb(0, 80, 29);
    font-size: 36px;
    font-style: italic;
}
img {
    display: block;
    margin: 0 auto;
}